html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden; 
}

#video-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
}
#video-grid .video-cell {
    touch-action: none; /* prevent default gestures */
    position: relative;
    overflow: hidden;
}
#video-grid .video-wrapper {
    touch-action: none;
    width: 100%;
    height: 100%;
    position: relative;
}
#video-grid video {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    pointer-events: none;    
}
